@*@{
    ViewData["Title"] = "Home Page";
}

<h1>home</h1>
<style>
    .contain {
        background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
    }
</style>
<body class="contain">
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1><h1>home</h1>
    <h1>home</h1>

    <h1>home</h1>

    <h1>home</h1>

</body>*@